<strong>-----------------------------</strong><br />
<p>
  <strong>Foto Do Comentarista:</strong>
  <%= image_tag(comment.avatar.thumb) if comment.avatar %>
</p>

<p>
  <strong>Comentarista:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comentário:</strong>
  <%= comment.body %><br />
  <strong>-----------------------------</strong><br />
</p>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Deletar Comentário', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Você tem Certeza ?'} %>
  </p>
<% end %>
